body { 
  background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.582));
  color: rgb(255, 255, 255);}

h1{
    text-align: center;
    font-family: "Pieces of Eight", serif;
}

nav{ 
  color: rgb(0, 0, 0); 
  font-size: 18px;
  text-align: center;
  font-family: "Pieces of Eight", serif;
  background-color: rgb(255, 255, 255);
  padding: 10px 
 
  
    
}
section{
 background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.521));
 color: aliceblue;
 font-family: "Pieces of Eight", serif;
}


.fondo{
  position: fixed;
  top: 0;
  left: 0;
  width: 1910px;
  height: 1020px;
  object-fit: cover;
  z-index: -1;
}


 
    
