@font-face{
  font-family: 'piece of eight';
  src: url('./fonts/PiecesofEight.woff')format('woff');
  
}


body { 
  background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.582));
  color: rgb(255, 255, 255);
  font-size: 21px;
  margin: 0;
  padding: 0;
  font-family: 'Pieces of Eight' , serif ;
}

h1{
    text-align: center;
    font-size: 40px;
    
}

nav{ 
  color: rgb(0, 0, 0); 
  font-size: 24px;
  text-align: center;
  font-family: "Pieces of Eight", serif;
  background-color: rgb(255, 255, 255);
  padding: 10px 
 
  
    
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  border-color: aliceblue;
  padding: 16px;
  margin: 0%;
}

.menu li{
display: flex;
align-items: center;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 0%;
  border-radius: 10px ;

}

.menu a :hover{
  
  background-color: rgba(113, 111, 111, 0.606);
  border-radius: 30px;

} 

.audio{
  height: 30px;
}


.gif{
  width: 40px;
  height: 68px;

  
}



ul{
    margin-right: 620px;
    padding-right: 438px;
    margin-left: 523px;
}

.gif{
 width: 163px;
 transition: all 0.3s ease;
}

section{
 background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.521));
 color: aliceblue;
 padding: 20px;
 font-family: "Pieces of Eight", serif;
  margin-right: 68px;
  margin-left: 68px;
 }


.fondo{
  position: fixed;
  top: 0;
  left: 0;
  width: 1910px;
  height: 1020px;
  object-fit: cover;
  z-index: -1;
}

.audio{
  height: 30px;
  width: 100%;
}


 
    
