body { 
  background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.582));
  color: rgb(255, 255, 255);
  font-size: 21px;
}

h1{
    text-align: center;
    font-family: "Pieces of Eight", serif;
    
}

nav{ 
  color: rgb(0, 0, 0); 
  font-size: 24px;
  text-align: center;
  font-family: "Pieces of Eight", serif;
  background-color: rgb(255, 255, 255);
  padding: 10px 
 
  
    
}

.menu{
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none;
  border-color: aliceblue;
  padding: 1em;
  margin: 0%;
}

.menu li{
display: flex;
align-items: center;
}

.menu a {
  color: width;
  text-decoration: none;
  font-weight: bold;
  padding: 0%;

}

.menu a :hover{
  
  background-color: aqua;
  border-radius: 30px;

} 

.audio{
  height: 30px;
}


.gif{

  height: 40px;
  transition: transform 0,3s ease;
}

.gif :hover{
  transition: scale 1.2 rotate 5deg;
}

ul{
    margin-right: 620px;
    padding-right: 438p;
    margin-left: 523px;
}

.gif{
 width: 200px;
 transition: all 0.3s ease;
}

section{
 background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.521));
 color: aliceblue;
 font-family: "Pieces of Eight", serif;
}


.fondo{
  position: fixed;
  top: 0;
  left: 0;
  width: 1910px;
  height: 1020px;
  object-fit: cover;
  z-index: -1;
}

audio{
  margin-left: 84%;
}


 
    
